<div class="container-1">
    <p class="p1">Como funciona o Mundo Negro?</p>
    <h2>
        Uma
        <strong>experiência literária</strong>
        dentro de
        <strong>conhecimentos históricos</strong>
    </h2>

    <div class="container">

        <div>
            <h3>Leia sem esforço</h3>
            <p class="p2"> você pode escolher um livro incrível, tudo no Mundo Negro te ajuda a fazer da
                leitura um hábito.
            </p>
        </div>

        <div>
            <h3>Leia todo mês</h3>
            <p class="p2"> O Mundo Negro atualiza os livros todo mês e assim se torna uma nova experiência literária. Você encontra tudo que 
                precisa para
                aproveitar ao máximo o livro e conhecimento.</p>
        </div>

        <div>
            <h3>Leia edições únicas</h3>

            <p class="p2">Temos edições exclusivas que vão te fazer Polímata. Uma biblioteca de livros incríveis por dentro e por fora.</p>
        </div>

        <div>
            <h3> Leia o melhor</h3>


            <p class="p2">Selecionamos os melhores livros que fala sobre questões Raciais, socias, amor negro para te prender na leitura.</p>
        </div>

    </div>
</div>