<div class="container-1">
    <p class="p1">Como funciona o Mundo Negro?</p>
    <h2>
     Uma <strong>experiência literária</strong>
      <br>
      dentro de
       <strong>
            conhecimentos históricos
        </strong> 
    </h2>
 
    <div class="container">
        <div>
            <h3>Leia sem esforço</h3>
            <p class="p2"> você pode escolher um livro incrível, tudo no Mundo Negro te ajuda a fazer da
                leitura um hábito.
            </p>
        </div>
        <div>
            <h3>Leia todo mês</h3>

            <p class="p2"> A TAG entrega na sua casa todo mês uma nova experiência literária — um kit com tudo que você
                precisa para
                aproveitar ao máximo o livro do mês.</p>
        </div>
        <div>
            <h3>Leia edições únicas</h3>

            <p class="p2">Enviamos edições exclusivas da TAG com projeto gráfico e acabamento de alta qualidade. Uma
                biblioteca de
                livros incríveis por dentro e por fora.</p>
        </div>
        <div>
            <h3> Leia o melhor</h3>


            <p class="p2">Selecionamos os melhores livros de diversos gêneros de ficção para te prender na leitura,
                sempre com notas altas
                no app exclusivo para assinantes.</p>
        </div>
    </div>
</div>