
.p1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}
h2{
    max-width: 550px;

    font-weight: 300;
    font-family: "Roboto Slab", serif;
 
    font-size: 40px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;

}
h3{
    margin-top: 10px;
    margin-bottom: 13px;
}
.p2{
font-size: 14px;
    
    font-family: "Noto Sans", sans-serif;
    color: rgb(52, 58, 79);

    width: 90%;
}
.container-1{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
strong {
    color: rgb(183, 77, 0);
}

