.footer-container {
 
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* altura do footer */
    background-color: black;
    width: 100%;
    bottom: 0;
    height: 100px;
    
  }
  
  /* Define o estilo do texto no footer */
  .footer-content p {
    font-size: 15px;
    color:white;
    text-align: center;
    margin-top: 40px;
  }
  p{
    padding: 20px;
  }
  


