<app-header />

<div>
  <h4 class="data"> {{datahoje | date: 'medium'}}</h4>
</div>
<div class="titulo1">
  <h1 >{{ titulo }}</h1>
</div>

<div class="img_redondo">
  <img class="redondo"
    src="https://www3.livrariacultura.com.br/arquivos/zcard-redondo-maisvendidos-171022.png?v=638016373634000000"
    alt="">
  <img class="redondo"
    src="https://www3.livrariacultura.com.br/arquivos/zcard-redondo-Pass-171022.png?v=638016373420430000" alt="">
</div>

<div class="destaque">
  <h3>
    Destaques do mês
  </h3>

</div>

<main class="cards">
  <div class="cards_container" *ngFor="let item of livros">
    <div class="info">
      <p class="titulo">{{item.name}}</p>

      <img src="{{item.imagem}}" width="50px" height="60px" class="img">



      <h2 class="preco"> {{item.valor | currency: 'R$'}}</h2>

      <button (click)="detalhesProduto (item.id) " class="botao">Detalhes</button>
      <button class="add">Adicionar no carinho</button>
    </div>
  </div>
</main>

<app-footer />